.feed-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f5f5;
    padding: 1rem;

    .feed-container{
        max-width: 350px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .user{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 1rem;


        img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
        }
        
    }

    // .posts{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: flex-start;
    //     gap: 1rem;
    //     margin-top: 1rem;
    //     max-width: 400px;

        .post{
            display: flex;
            flex-direction: column;
            max-width: 400px;


            img{
                
                height: 100%;
                aspect-ratio: 4/5;
                object-fit: cover;
                
                
            }
        }
    

    .actions{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 1rem;

        button{
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        svg{
            width: 1rem;
            aspect-ratio: 1/1;
            color: #ccc;
        }
    }
}